.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header__container{
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.navbar__list{
    display: flex;
    list-style: none;
}

.navbar__item{
    margin-left: 10px;
    margin: 10px;
}

.navbar__link-active{
    text-decoration: none;
    margin-left: 30px;
    color: #1F1534; 
}

.navbar__link{
    text-decoration: none;
    margin-left: 30px;
}

/* __________________hero__________________________________ */

.box{
    width: 400px;
    height: 400px;
    border-radius: 5px;
}


.hero__list{
    max-width: 600px;
    position: relative;
    list-style: none;
}

.box{
    position: absolute;
    color: white;
    bottom: 3px;
    right: 0;
}


/* _____________________services________________ */
.services__container{
    display: flex;
}

.services__list{
    list-style: none;
    margin: 100px;
}

.services__item{
    text-align: center;
    width: 600px;
    height: 100px;
}

.services__img{
    margin-left: 40px;
}


/* _____________________main__________________ */
.main__container{
    margin-top: 100px;
    justify-content: space-between;
    display: flex;
    max-width: 1150px;
    background-color: #2C343E;
    border-radius: 60px 10px;
}

.main__list{
    display: flex;
    list-style: none;
}

.main__item{
    margin-left: 0px;
    color: white;
    height: 560px;
}

.main__p{
    color: white;
}

.main__h1{
    margin-top: 220px;
}

.main__img{
    margin:80px;
    border-radius: 60px 10px;
}


/* _______________slider__list________ */
.slider__list{
    margin-left: 50px;
    margin-top: 100px;
    list-style: none;
    display: flex;
}

.slider__item{
    width: 400px;
    height: 400px;
    margin-right: 140px;
}

.slider__container{
    margin-top: 100px;
}

.slider__h1{
    margin-left: 50px;
    color:#83888F;
}